In [56]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 


train_short = pd.read_csv("../TrainingShort/TrainingActual_Short.csv")
val_long = pd.read_csv("../ValidationLong/ValidationActual_Long.csv")
test_long = pd.read_csv("../TestingLong/TestingActual_Long.csv")

train_preds = pd.read_csv("../TrainingLong/TrainingPredictionsLong.csv")
val_preds = pd.read_csv("../ValidationLong/ValidationPredictionsLong.csv")
test_preds = pd.read_csv("../TestingLong/TestingPredictionsLong.csv")

In [57]:
display(train_short.head())

,1/1/2019 12:00-1/6/2019 23:00,1/2/2019 12:00-1/7/2019 23:00,1/3/2019 12:00-1/8/2019 23:00,1/4/2019 12:00-1/9/2019 23:00,1/5/2019 12:00-1/10/2019 23:00,1/6/2019 12:00-1/11/2019 23:00,1/7/2019 12:00-1/12/2019 23:00,1/8/2019 12:00-1/13/2019 23:00,1/9/2019 12:00-1/14/2019 23:00,1/10/2019 12:00-1/15/2019 23:00,...,5/13/2021 12:00-5/18/2021 23:00,5/14/2021 12:00-5/19/2021 23:00,5/15/2021 12:00-5/20/2021 23:00,5/16/2021 12:00-5/21/2021 23:00,5/17/2021 12:00-5/22/2021 23:00,5/18/2021 12:00-5/23/2021 23:00,5/19/2021 12:00-5/24/2021 23:00,5/20/2021 12:00-5/25/2021 23:00,5/21/2021 12:00-5/26/2021 23:00,5/22/2021 12:00-5/27/2021 23:00
0,2859.251,3476.333,3385.881,3413.232,3491.177,3206.199,3700.622,3748.163,3457.683,3713.384,...,2801.42,2716.77,2440.82,2586.14,2826.84,2961.00,3167.61,2983.75,2916.49,3129.17
1,2863.590,3479.215,3398.001,3430.840,3480.626,3175.073,3688.559,3727.045,3457.130,3703.980,...,2741.47,2748.58,2511.18,2680.43,2889.98,3052.64,3280.11,3068.34,3015.98,3231.04
2,2927.240,3553.444,3412.353,3457.728,3462.533,3215.173,3734.859,3679.980,3442.520,3707.375,...,2713.56,2785.05,2505.55,2617.21,2966.27,3090.06,3385.71,3145.30,3117.24,3411.78
3,3067.692,3638.516,3503.358,3502.774,3473.958,3317.676,3804.810,3669.656,3495.329,3787.260,...,2751.81,2822.96,2516.95,2578.55,3032.02,3144.68,3508.33,3242.38,3232.65,3569.63
4,3357.853,3902.579,3762.507,3712.126,3606.926,3579.227,4070.535,3833.932,3724.402,4004.903,...,2827.08,2891.80,2624.70,2672.21,3138.95,3274.42,3658.05,3363.36,3382.47,3645.43

In [54]:
from sklearn.metrics import mean_absolute_error, root_mean_squared_error, mean_absolute_percentage_error

ncols_train = train_long.shape[1]
ncols_val = val_long.shape[1]
ncols_test = test_long.shape[1]

def evaluate(output, preds):
    errors_mae = []
    errors_mape = [] 
    errors_rmse = [] 
    ncols = output.shape[1] 
    for i in range(ncols): 
        output_col = output.iloc[:, i]
        preds_col = preds.iloc[:, i]
        
        errors_mae.append(mean_absolute_error(output_col, preds_col))
        errors_mape.append(mean_absolute_percentage_error(output_col, preds_col))
        errors_rmse.append(root_mean_squared_error(output_col, preds_col))
        
    
    errors_mae = np.array(errors_mae)
    errors_mape = np.array(errors_mape)
    errors_rmse = np.array(errors_rmse)


    return np.sum(errors_mae)/ncols, np.sum(errors_rmse)/ncols, np.sum(errors_mape)/ncols,



errors = evaluate(train_long, train_preds)
print(errors)

(227.19663567101054, 252.88311996522975, 0.06636803826959294)